.modal {
  border-radius: 0.625rem;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 90%;
  right: 5%;
  width: 18.75rem;
  height: 16.25rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1.2rem;
  z-index: 2;
}

.modal__close-btn {
  align-self: flex-end;
  background-color: transparent;
  border: none;
}

.modal__desc {
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
}

.modal__category-list {
  display: flex;
  justify-content: space-evenly;
}

.category-btn {
  background-color: transparent;
  border-radius: 0.125rem;
  border: 1px solid #1e1e1e;
  display: grid;
  place-items: center;
  padding: 0.25rem 0.6875rem;
  font-size: 0.9375rem;
}

.category-btn--active {
  background-color: #1e1e1e;
  color: #fff;
}

.category-btn > input {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}
